/* ---------- HOME CSS ---------- */

html, body {
    margin: 0;
    padding: 0;
    background-color: #3f3f3f;
    z-index: 0;
}

p {
    margin: 0;
    padding: 0;
}

.projenclose {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}

.proj {
    height: 100vh;
    /* height: calc(100vh - 2px); */
    /* display: inline-block; */
    transform: skewX(10deg);
    /* border: 1px solid black; */
    width: 10%; 
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: padding .5s ease;
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.notskew {
    /* margin-right: 50px; */
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    /* transform: skewX(-10deg); */
    transform: rotate(-90deg);
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 120px;
    height: 60px;
    display: inline-block;
    white-space: nowrap;
}

.proj:hover {
    padding-right: 20%;
}

/* .proj:hover + .name{
    font-size: 5vw;
}

.proj:hover + .desc{
    font-size: 1vw;
} */

#proj1 {
    background-color: #8f8f8f;
}

#proj2 {
    background-color: #7f7f7f;
}

#proj3 {
    background-color: #6f6f6f;
}

#proj4 {
    background-color: #5f5f5f;
}

#proj5 {
    background-color: #4f4f4f;
}

.leftsd{
    position: absolute;
    width: 50%;
    z-index: 2;
    bottom: 3px;
    transition: width .5s ease;
}

.name{
    float: left;
    font-family: 'Raleway', sans-serif;
    color: ghostwhite;
    font-size: 10vw;
    transition: font-size .5s ease;
}

.desc{
    float: left;
    font-family: 'Yellowtail', cursive;
    color: rgb(159, 125, 197);
    font-size: 4.5vw;    
    transition: font-size .5s ease;
}