/* ---------- HOME CSS ---------- */

html, body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    z-index: 0;
}

p {
    margin: 0;
    padding: 0;
}

.projenclose {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    /* z-index: 1; */
}

.proj {
    height: 100vh;
    /* height: calc(100vh - 2px); */
    /* display: inline-block; */
    transform: skewX(10deg);
    /* border: 1px solid black; */
    width: 10%; 
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: padding .5s ease, box-shadow 1s ease, background-color .5s ease;
    /* , box-shadow 1s ease */
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* box-shadow: -2px 0 15px -5px black  ; */
    position: relative;
}

.notskew {
    /* margin-right: 50px; */
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    /* transform: skewX(-10deg); */
    transform: rotate(-90deg);
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 120px;
    height: 60px;
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 2s ease;
}

.proj:hover {
    padding-right: 20%;
}

/* .proj:hover + .name{
    font-size: 5vw;
}

.proj:hover + .desc{
    font-size: 1vw;
} */

#proj0 {
    /* background-color: #8f8f8f; */
    width: 20%;
    height: 100vh;
    float: right;
    position: absolute;
    right: 0;
    transition: background-color .5s ease;
}

#proj1 {
    /* background-color: #7f7f7f; */
    z-index: 5;
    margin-right: 5%;
    height: 100vh;

    transform: skewX(10deg);
    width: 10%; 
    float: right;
    /* overflow: hidden; */
    /* margin: 10%; */
    padding: 0;
    /* transition: padding .5s ease, box-shadow 1s ease, background-color .5s ease; */
    /* text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; */
    /* box-shadow: -2px 0 15px -5px black  ; */
    position: relative;
}

#proj2 {
    /* background-color: #6f6f6f; */
    z-index: 4;
}

#proj3 {
    /* background-color: #5f5f5f; */
    z-index: 3;
}

#proj4 {
    /* background-color: #4f4f4f; */
    z-index: 2;
}

#proj5 {
    /* background-color: #3f3f3f; */
    z-index: 1;
}

.leftsd{
    position: absolute;
    width: 45%;
    z-index: 2;
    bottom: 3px;
    transition: width .5s ease;
}

.name{
    float: left;
    font-family: 'Raleway', sans-serif;
    color: ghostwhite;
    font-size: 10vw;
    transition: font-size .5s ease;
}

.desc{
    float: left;
    font-family: 'Yellowtail', cursive;
    color: rgb(159, 125, 197);
    font-size: 4vw;    
    transition: font-size .5s ease;
}

/* .contact-info{
    position: absolute;
    top: 10px;
    left: 0px;
    transform: skewX(-10deg);
    opacity: 0;
    transition: opacity 1s linear;
} */

.lookgood{
    position: absolute;
    top: 10%;
    left: 35%;
    transform: skewX(-10deg);
    opacity: 0;
    transition: opacity 1s linear;
}

.lookgood1{
    position: absolute;
    top: 25%;
    left: 35%;
    transform: skewX(-10deg);
    opacity: 0;
    transition: opacity 1s linear;
}

.lookgood2{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: skewX(-10deg);
    opacity: 0;
    transition: opacity 1s linear;
}

.hide1 {
    transform: skewX(-10deg);
    position: absolute;
    left: -50%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.hide2 {
    transform: skewX(-10deg);
    position: absolute;
    left: -50%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.hide3 {
    transform: skewX(-10deg);
    position: absolute;
    left: -50%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.hide4 {
    transform: skewX(-10deg);
    position: absolute;
    left: -50%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

#proj5:hover .hide1{
    opacity: 1;
}

#proj4:hover .hide2{
    opacity: 1;
}

#proj3:hover .hide3{
    opacity: 1;
}

#proj2:hover .hide4{
    opacity: 1;
}

#proj1:hover .lookgood{
    opacity: 1;
}

#proj1:hover .lookgood1{
    opacity: 1;
}

#proj1:hover .lookgood2{
    opacity: 1;
}

@media screen and (max-width: 980px) {
    .proj {
      
        /* height: calc(100vh - 2px); */
        /* display: inline-block; */
        transform: skewX(0deg);
        /* border: 1px solid black; */
       
    }
    
    #proj0 {
        width: 0;
    }

    #proj1 {
        background-color: #7f7f7f;
        z-index: 5;
        margin-right: 0;
        transform: skewX(0deg);
    }

    .proj:hover {
        padding-right: 30%;
    }

    .lookgood, .lookgood1, .lookgood2{
       
        transform: skewX(0deg);
        left: 10%;
        
    
    }
}