.show-me:hover {
    /* opacity: .25; */
    background-color: #3e3e3e;
    /* position: relative; */
    box-shadow: 1px 1px 15px 10px black inset;
    border: 1px hotpink solid;
    /* z-index: ; */
    /* margin: 2px; */
    animation: pulse 1s infinite;
    animation-timing-function: linear;
    z-index: 5;
    
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
    }


.show-me:hover img{
    opacity: .25;
}

h1:hover {
    background-color: #3e3e3e;
}

body::-webkit-scrollbar {
     display: none; 
    }

img {
    max-height: 100%;
    width: auto;
}

body {
    background: linear-gradient(270deg, #f21616, #e3f216, #16f24f);
background-size: 300% 100%;

-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:65% 50%}
    100%{background-position:0% 50%}
}