.show-me:hover {
   
    background-color: #3e3e3e;
    
    box-shadow: 1px 1px 15px 10px black inset;
    border: 1px hotpink solid;
   
    animation: pulse 1s infinite;
    animation-timing-function: linear;
    /* z-index: 5;  */
    border-radius: 15px;
}   

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
    }


.show-me:hover img{
    border-radius: 15px;
}

.show-me {
    overflow: hidden;
    border-radius: 125px;
    transition: border-radius 1s ease-in-out;
}

/* h1:hover {
    background-color: #3e3e3e;
} */

body::-webkit-scrollbar {
     display: none; 
    }

img {
    max-height: 100%;
    width: auto;
    transition: border-radius 1s ease-in-out;
}

body {
    background: linear-gradient(236deg, #61bef3, #8cd780, #6a70ce);
background-size: 600% 600%;

-webkit-animation: AnimationName 13s ease infinite;
animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:50% 50%}
    100%{background-position:0% 51%}
}