#map {
  height: 100%;
}

/* .wow {
  visibility: hidden;
} */

#detail {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 40%;
  width: 30%;
  background-color: rgba(245, 245, 245, .50);
  z-index: 1;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: darkviolet;
  text-align: center;
  font-size: 24px;
}

.overlay {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ----------TIMELINE CSS---------- */

.line{
  position: absolute;
  bottom: 22.5%;
  border-bottom: 5px dotted aquamarine;
  width: 100%;
}

.fixed-to-bottom {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  height: auto;
  z-index: 2;
  min-height: 20%;
  width: auto;
  overflow-x: auto;
  opacity: 0;
}

.timeline {
  position: relative;
  overflow-x: auto;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  background-position: center top 60%;
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  transition: height .2s ease-out;
  transition: height .2s ease-out;
  transition: height .2s ease-out;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timeline-item-box {
  display: inline-block;
  /* position: absolute; */
  height: 100%;
  /* width: auto; */
  margin: 0 50px;
  /* white-space: nowrap; */
  
  transition:transform 1s ease-in-out;
}

/* #item1 {
  margin-left: 35%; 
}
#item18 {
  padding-right: 60%;
} */


.timeline-stone {
  /* display: inline-block; */
  /* position: absolute;
  bottom: 30%;
  right: 50%; */
  min-width:55px;
  min-height:55px;
  max-width:55px;
  max-height:55px;
  border: solid 0px black;
  border-radius:50%;
  background-color: black;
  margin: 0 auto;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out, transform 1s ease-in-out;
  
}

.timeline-item {
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 0 50px;
}

.timeline-item-info{
  display: inline-block;
  /* position: absolute; */
  top: -100px; 
}

.timeline-leadIn {
  padding-bottom: 10px;
  height: 50px;
  width: 50vw;  
}

.timeline-title {
  padding-bottom: 10px;
  height: 50px;
  width: 250px;
  font-size:1.75vw;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
  text-align: center;
  margin: 0;
  text-shadow: 0px 0px 5px black;
}

.timeline-org {
  padding: 10px 0;
  height: 40px;
  font-size: 18px;
  color: white;
  font-family: 'Damion', sans-serif;
  text-align: center;
  margin: 0; 
  
  
}


/* .timeline-item-box:hover {
  transform:scale(1.1);
} */

.workfont {
   color: white;
   transition: color .5s ease-in-out;
}

.schoolfont {
   color: white;
   transition: color .5s ease-in-out;
}

.specprojfont {
   color: white;
   transition: color .5s ease-in-out;
}

.workItemfont {
 color: goldenrod;
}

.schoolItemfont {
 color: darkviolet;
}

.specprojItemfont {
 color: green;
}

.workStone {
background-color: goldenrod;
}

.schoolStone {
background-color: darkviolet;
}

.specprojStone {
background-color: green
}

.schoolpic {
  content:url(../images/schoolinv.png)
}

.workpic {
  content:url(../images/workinv.png)
}

.specprojpic {
  content:url(../images/specprojinv.png)
}

.year {
font-family: 'Raleway', sans-serif;
font-size: 48px;
color: whitesmoke;

}

#line {
/* border-right: dashed 0px red;
border-left: dashed 0px red; */
/* position: fixed; */
/* width: 15%;
left: 49%; */
/* height: 100%;
z-index: 100; */
border: dashed 0px red;
position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 80%;
}

.divScope {
transform:scale(1.15);
}

#hilight {

position: fixed;
/* bottom: 8.25%; */
width: 300px;
left: 37.5%;
height: 100%;
background-color: whitesmoke;
opacity: .10;
}

@media screen and (min-width: 1200px) {
.timeline-title {
    font-size: 20px;
}
}

/* this is the css for the scroll animation */

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,.50);
  z-index: 0;
  transition: background-color .5s ease-in-out, opacity .5s ease-in-out;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #AE1FF0;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  text-align: center;
  margin-top: 150px;
  margin-left: -5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #AE1FF0;
  text-transform: uppercase;
  white-space: nowrap;
  /* opacity: .25; */
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}