html {
  background: #3f3f3f;
}

.line{
  position: absolute;
  bottom: 22.5%;
  border-bottom: 5px dotted aquamarine;
  width: 100%;
}

.fixed-to-bottom {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  height: auto;
  z-index: 2;
  min-height: 20%;
  width: auto;
  overflow-x: auto;
}

.timeline {
  position: relative;
  overflow-x: auto;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  background-position: center top 60%;
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  transition: height .2s ease-out;
  transition: height .2s ease-out;
  transition: height .2s ease-out;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timeline-item-box {
  display: inline-block;
  /* position: absolute; */
  height: 100%;
  /* width: auto; */
  margin: 0 50px;
  white-space: nowrap;
}

.timeline-stone {
  /* display: inline-block; */
  /* position: absolute;
  bottom: 30%;
  right: 50%; */
  min-width:55px;
  min-height:55px;
  max-width:55px;
  max-height:55px;
  border: solid 0px black;
  border-radius:50%;
  background-color: aquamarine;
  margin: 0 auto;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.timeline-item {
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 0 50px;
}

.timeline-item-info{
  display: inline-block;
  /* position: absolute; */
  top: -100px;
}

.timeline-title {
  font-size: 1vh;
  /* font-size:50px; */
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600; 
  text-align: center;
  margin: 0;
}

.timeline-org {
  font-size: 30px;
  color: white;
  font-family: 'Damion', sans-serif;
  text-align: center;
  margin: 0; 
}


/* The actual timeline (the vertical ruler) */
/* .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  } */
  
  /* The actual timeline (the vertical ruler)
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  } */
  
  /* Container around content */
  /* .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  } */
  
  /* The circles on the timeline */
  /* .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  } */